
<html>
  <body>
    <div class="row mt-5">
      <div class="col-md-4 mb-3" *ngFor="let event of specialevents">
        <div class="card text-center">
          <div class="card-body">
            <h5 class="card-title">{{event.Title}}</h5>
            <p class="card-text">{{event.Content}}</p>
            <a href="#" class="btn btn-success">Buy Tickets</a>
          </div>
          <div class="card-footer text-muted">
            {{event.Date}}
          </div>
        </div>
      </div>
    </div>

    <div class="fixedButton">

      <button mat-mini-fab  class="button24" color="primary" (click)="goAdd()">Add</button>

    </div>


  </body>
</html>
