
<html>
  <body background="./assets/wp3264044.jpg">
    <div class="loader-container" *ngIf="loaderService.isLoading|async">
      <mat-progress-spinner mode="indeterminate" style="top:50%; left:50%;"></mat-progress-spinner>
    </div>
    <div class="row">

      <div class="col mb-4" *ngFor="let event of specialevents">

        <div class="card">
          <img [src]="event.PostImage">
          <div class="info">
            <h1>{{event.Title}}</h1>
            <button class="btn" (click)=show(event._id)>Read More</button>

          </div>

        </div>
      </div>
    </div>

    <div class="fixedButton">

      <button mat-mini-fab  class="button24" color="primary" (click)="goAdd()">Add</button>

    </div>


  </body>
</html>
