<html>
  <body>
    <div class="loader-container" *ngIf="loaderService.isLoading|async">
      <mat-progress-spinner mode="indeterminate" style="top:50%; left:50%;"></mat-progress-spinner>
    </div>
    <div class="row  center" style="padding-top: 5%; padding-left:15%; background-color:#e3c8c8">
      <div class="col-md-10 ">
        <div class="card text-center shadow-lg p-3 mb-5 rounded  border-primary mb-3">
          <div class="card-body">
            <h1 class="card-title" *ngIf="details!=null">{{details.Title}}</h1><br>
            <ckeditor *ngIf="details!=null" [editor]="Editor" [config]="config" [disabled]="true"  [(data)]="details.Content"></ckeditor>
            <button class="btn btn-success" *ngIf="details!=null" (click)="goEdit(details._id)" [hidden]="currentUser!=details.Uid" >Edit Post</button>
            <button class="btn btn-danger" *ngIf="details!=null" (click)="delete(details._id)" [hidden]="currentUser!=details.Uid">Delete Post</button>
          </div>
          <div class="card-footer text-danger" *ngIf="details!=null">
            {{details.Date|date:'medium'}}
          </div>

          <div style="text-align: right;">
<form [formGroup]="cmt">
            <textarea class="form-control" formControlName="Comment" placeholder="Comment your idea"></textarea>
            <button class="btn btn-success" (click)="addComment(cmt.value)">Comment</button>
          </form>
          </div>
          <ng-container *ngIf="details!=null" class="container">
            <div class="be-comment" *ngFor="let cm of (comments | sortDate)">
              <div class="be-img-comment">

                  <img [src]="cm.ProfileImage" alt="" class="be-ava-comment">

              </div>
              <div class="be-comment-content">

                <span class="be-comment-name">
                  {{cm.Uname}}
                  </span>
                <span class="be-comment-time">
                  {{cm.Date|date:'short'}}
                  <a (click)="deleteComment(cm._id)" [hidden]="checkUser(cm.Userid)">delete</a>
                </span>

              <p class="be-comment-text">
               {{cm.Comment}}
              </p>
            </div>

                              </div>
                            </ng-container>
        </div>


      </div>

    </div>

  </body>
</html>
